/* Align heading at center and make it bold and cursive */
h1 {
    font-family: Georgia, "Times New Roman";
    font-size: 75px;
    text-align: center;
}

/* Aligning images */
.pics {
    text-align: center;
}

html {
    background-color: rgb(66,66,66);
    color: whitesmoke;
}

#food-list {
    font-size: 30px;
    font-family: Arial, sans-serif;
    color: slateblue;
}
